.logo {
    width: 120px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 30px 10px 0;
    float: left;
  }
.ant-dropdown-link {
  display: unset;
  color: #fff;
  font-weight: 500;
  padding: 10px;
}
.smartIO-menu {
  /* 禁止选择文本 */
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
.smartIO-menu  span {
  float: right;
  color: rgba(0,0,0,0.4);
  padding-left: 40px;
  text-align: right;
}
.smartIO-menu-disabled a{
  /* 禁止选择文本 */
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  color: #c4c4c4 !important;
  cursor: no-drop;
}

.smartIO-menu-disabled span{
  float: right;
  color: #c4c4c4;
  padding-left: 40px;
  text-align: right;
}