.logo {
    width: 120px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 30px 10px 0;
    float: left;
  }
.ant-dropdown-link {
  color: #fff;
  font-weight: 500;
  padding: 10px;
}