@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

.fc-time-grid .fc-slats td {
    height: 1.2em;
}

.fc-ltr .fc-axis {
    font-size: 12px;
}

.fc-license-message {
    display: none;
}

.e-event-selected {
    border: 2px solid #1790ff;
}

.ant-modal-confirm-content {
    margin: 0 !important;
}