.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 100px;
    text-align: center;
    position: relative;
}

.equipment-state {
    padding: 0 .8rem;
    color: rgb(148, 148, 148);
}

.demo-infinite-container {
    overflow: auto;
    padding: 8px 8px;
    height: 300px;
}
.demo-event-hover {
    border-radius: .1rem;
}
.demo-event-hover:hover {
    box-shadow: 0px 0px 16px #e9e9e9;
    cursor: pointer;
}

.equipment-toos-layout {
    margin-top: 10px;
}

.equipment-find-router {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px
}