@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
  background-color: #e0e0eb;
}

.spinnerTwo:before {
  position: absolute;
  top: 30px;
  left: 27.5px;
  content: "";
  height: 35px;
  width: 5px;
  background-color: #535657;
  transform-origin: 50% 0%;
  border-radius: 8px;
  animation: clockmin 2s linear infinite;
}

.spinnerTwo:after {
  position: absolute;
  content: "";
  height: 35px;
  width: 2px;
  top: 30px;
  left: 29px;
  transform-origin: 50% 0%;
  background-color: #D1462F;
  border-radius: 2px;
  animation: clocksec 0.5s linear infinite;
}

.spinnerTwo span {
  position: absolute;
  top: 10px;
  left: 27.5px;
  height: 20px;
  width: 5px;
  border-radius: 2px;
  background: #535657;
  transform-origin: 50% 100%;
  animation: clockhour 10s linear infinite;
}

@keyframes clockmin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockhour {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clocksec {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}