/* 禁止文本选择 */

.tree-treelink {
    display: inline-block !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    width: 100%;
    color: rgba(0,0,0,0.65);
}